name: Deploy to Hostinger

on:
 push:
   branches:
     - master

jobs:
 build:
   runs-on: ubuntu-latest

   steps:
     - name: Checkout code
       uses: actions/checkout@v3

     - name: Install dependencies
       run: npm install

     - name: Remove root .env file (if exists)
       run: rm -f .env

     - name: Build project
       run: npm run build:prod

     - name: Verify production build
       run: node scripts/verify-build.js production

     - name: Deploy to Hostinger
       uses: s0/git-publish-subdir-action@develop
       env:
         REPO: git@github.com:Wence024/ClassFlow.git
         BRANCH: build
         FOLDER: dist
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
         MESSAGE: "Build: ({sha}) {msg}"