name: Deploy to Hostinger

on:
 push:
   branches:
     - master

jobs:
 build:
   runs-on: ubuntu-latest

   steps:
     - name: Checkout code
       uses: actions/checkout@v3

     - name: Install dependencies
       run: npm install

     - name: Build project
       run: npm run build

     - name: Deploy to Hostinger
       uses: s0/git-publish-subdir-action@develop
       env:
         REPO: self
         BRANCH: build
         FOLDER: dist
         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
         SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
         MESSAGE: "Build: ({sha}) {msg}"